/* Regra geral para no-fouc */
.js .u-no-fouc {
    visibility: hidden;
    opacity: 0
  }

  .js .u-no-fouc--no-size {
    display: none
  }

  /* CSS do autocomplete campo*/
  /* Autocomplete sendo implementado pois somente está 
  disponível na versão premium do bootstrap. */
  /* 
  Fonte: https://www.w3schools.com/howto/howto_js_autocomplete.asp
  */
  * {
      box-sizing: border-box;
    }

    body {
      font: 16px Arial;  
    }

    .autocomplete {
      position: relative;
      display: inline-block;
    }

    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }

    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }

    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }

    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }

    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 2px solid #d4d4d4; 
    }

    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }

    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
    }